<section class="phx-hero">
  <h1>Timeout API</h1>
  <p>Simple API that responses after n seconds</p>
</section>

<section>
  Have fun!
  <br>
  <%= link(Routes.timeout_url(@conn, :any, timeout: 5), to: Routes.timeout_path(@conn, :any, timeout: 5)) %>
</section>
